{% include "vueEntete.html" %}
{% include "vueEnteteUsager.html" %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">


			<p class="alert alert-success" role="alert">Nous somme le {{ lesDates[0] ['fr'] }} </p>



		</div>

	</div>


	<div class="row">
		<div class="col-md-1"></div>

			{% for i in range(5) %}

				<div class="col-md-1">
						<a data-bs-toggle="tooltip" data-bs-placement="top" title="{{ lesJours[i] }}"




						{% if lesDates[i]['reservee'] %}
							href="/usager/reservations/annuler/{{ lesDates[i]['iso'] }}"
							class="btn btn-success"
						{% else %}
							href="/usager/reservations/enregistrer/{{ lesDates[i]['iso'] }}"
							class="btn btn-default"
						{% endif %}

						{% if lesDates[i]['verrouillee'] %}
							disabled="disabled"
						{% endif %}

					>

						{{ lesDates[i]['fr'] }}
					</a>

				</div>
				<div class="col-md-1"></div>

			{% endfor%}

	</div>

	<p></p>

	<div class="row">
		<div class="col-md-1"></div>

			{% for i in range(5,10) %}

				<div class="col-md-1">
				<a data-bs-toggle="tooltip" data-bs-placement="top" title="{{ lesJours[i-5] }}"

						{% if lesDates[i]['reservee'] %}
							href="/usager/reservations/annuler/{{ lesDates[i]['iso'] }}"
							class="btn btn-success"
						{% else %}
							href="/usager/reservations/enregistrer/{{ lesDates[i]['iso'] }}"
							class="btn btn-default"
						{% endif %}

						{% if lesDates[i]['verrouillee'] %}
							disabled="disabled"
						{% endif %}

					>

						{{ lesDates[i]['fr'] }}
					</a>

				</div>
				<div class="col-md-1"></div>

			{% endfor%}

	</div>


	<p></p>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">

			{% if soldeInsuffisant == True %}
				<p class="alert alert-danger" role="alert">Solde insuffisant</p>

			{% endif %}

		</div>

	</div>


</div>


{% include "vuePied.html" %}
